
body {
    position: relative;
    box-sizing: border-box;
  
}
* {
    font-family: Arial, Helvetica, sans-serif;
    transition: .3s;
}



nav {
    position: relative;
}




/* @keyframes ct2 {
    100% {
        background-position: right -50px top 0;
    }
} */


.haer{
    height:3px !important;
    width:80%;
}

.foto {
    width: 300px;
    height: 300px;
   
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; 
    border-radius: 50%;
    animation: gonta 4s infinite ease-in-out;
}
@keyframes gonta{
    0% {
        transform: skew(0deg, 0deg);
        transform: rotateY(0deg);
        background-image: url('p.webp');
    }
    30%{
        transform: skew(0deg, 0deg);
        transform: rotateY(0deg); 
    }
    35%{
        background-image: url('p.webp');
    }
    50% {
        transform: skew(20deg, 20deg);
        transform: rotateY(180deg);
        background-image: url('pp.webp');
    }
    60% {
        transform: skew(20deg, 20deg);
        transform: rotateY(180deg);
        background-image: url('pp.webp');
    }
    80%{
        background-image: url('p.webp');
        transform: skew(0deg, 0deg);
        transform: rotateY(0deg);
    }
    100% {
        transform: skew(0deg, 0deg);
        transform: rotateY(0deg);
        background-image: url('p.webp');
    }
}

.basic ul, .it ul{
    
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 100px;
    justify-content: center !important;
}
.basic h2, .it h2, .projek h1, .kontak h2{
    padding-bottom: 20px;
    text-decoration: underline;
}
.kontak h2{
    color:rgb(75, 75, 75) !important;
}
.basic ul li{
    box-shadow: 0 0 10px rgb(255, 203, 203);
}
.it ul li{
    box-shadow: 0 0 10px rgb(148, 148, 148);
    color:rgb(66, 66, 66);
}

.basic ul li, .it ul li{

    list-style: none;
    align-items: center;
    display: flex;
    justify-content: center;
    padding:10px;
}
.haerdark{
    height:3px;
    width:50%;
    background-color: grey;
}
.daftarprojek{
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 100px;
    justify-content: center !important;
}

.projekku{
    border: 3px solid white;
    padding: 10px;
    border-radius: 10px;
    transition: .5s;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.projekku:hover{
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 1);
    transition: .5s;
}
.projekku:hover a{
    color: #dd6363;
}
.judul{
    color:white;
    outline: 1px solid white;
    border-radius: 5px;
    transition: .5;
    padding:3px 10px;
    margin-top:5px;
}
.judul:hover{
    background-color: white;
    color:red;
    transition: .5;
}

.serti{
    outline: 3px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background:
        linear-gradient(90deg, rgba(247, 218, 218, 0.067) 33%, rgba(151, 18, 18, 0.333) 50%, rgba(173, 56, 56, 0.067) 66%) transparent;
    background-size: 300% 100%; 
    animation: ct1 1s infinite linear;
}
@keyframes ct1 {
    0% {
        background-position: right
    }
}

.serti a {
    background-color: transparent;
    color: #cc1f1f;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: bold;
}

.serti a:hover {
    background-color: transparent;
    outline: 1px solid rgb(192, 20, 20);
    background-color: rgb(199, 129, 129);
    color: white;
}

.serti img {
    width:100%;
}
/* */
.kontak {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #E4E4ED;
}



.kontak h1 {
    align-self: center;
    justify-self: center;
    font-size: 130%;
    padding: 10px;
}

.isikontak {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width:100%;
}

.kontakkiri {
    width: 40%;
    display: flex;
    flex-direction: column;

}

.kontak1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.klogo {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

     background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.email{
    background-image: url('https://cdn-icons-png.flaticon.com/128/542/542689.png');

}
.tel{
    background-image: url('https://cdn-icons-png.flaticon.com/128/25/25453.png');

}
.add{
    background-image: url('https://cdn-icons-png.flaticon.com/128/447/447031.png');

}

.sebelahlogo {
    padding-left: 10px;
}

.sebelahlogo h1 {
    font-weight: normal;
    font-size: 120%;
}

.sebelahlogo p {
    font-size: 90%;
}

.kontakkanan {
    display: flex;
    align-items: center;

    width: 40%;
}

.kontakkanan form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.kontakkanan form input[type=text] {
    padding: 5px;
    background-color: white;
    border-radius: 2px;
    margin: 10px 0;
    width: 95%;
    align-self: center;
}

.kontakkanan form input[type=email] {
    padding: 5px;
    background-color: white;
    border-radius: 2px;
    margin: 10px 0;
    width: 95%;
    align-self: center;
}

.kontakkanan form textarea {
    padding: 5px;
    background-color: white;
    border-radius: 2px;
    margin: 10px 0;
    width: 95%;
    align-self: center;
}

.kontakkanan form input[type=submit] {
    padding: 5px;
    background-color: #b62626;
    border-radius: 5px;
    margin: 10px 0;
    color: white;
}



.it ul li {
    box-shadow: 0 0 10px black;
    padding: 10px;
    margin: 5px;
}

/* Animasi dengan delay untuk elemen dengan indeks genap */
.it ul li:nth-child(even) {
    animation: shadow-animation-even 1s ease-in-out infinite;
    animation-delay: 0.5s; /* Delay untuk indeks genap */
}

/* Animasi dengan delay untuk elemen dengan indeks ganjil */
.it ul li:nth-child(odd) {
    animation: shadow-animation-odd 1s ease-in-out infinite;
    animation-delay: 0s; /* Delay untuk indeks ganjil */
}

/* Animasi untuk bayangan pada elemen dengan indeks genap */
@keyframes shadow-animation-even {
    0% {
        box-shadow: 0 0 10px black;
    }
    50% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0 0 10px black;
    }
}

/* Animasi untuk bayangan pada elemen dengan indeks ganjil */
@keyframes shadow-animation-odd {
    0% {
        box-shadow: 0 0 10px black;
    }
    50% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0 0 10px black;
    }
}


/* Animasi dengan delay untuk elemen dengan indeks genap */
.basic ul li:nth-child(even) {
    animation: red-shadow-animation-even 1s ease-in-out infinite;
    animation-delay: 0.5s; /* Delay untuk indeks genap */
}

/* Animasi dengan delay untuk elemen dengan indeks ganjil */
.basic ul li:nth-child(odd) {
    animation: red-shadow-animation-odd 1s ease-in-out infinite;
    animation-delay: 0s; /* Delay untuk indeks ganjil */
}

/* Animasi untuk bayangan pada elemen dengan indeks genap */
@keyframes red-shadow-animation-even {
    0% {
        box-shadow: 0 0 10px rgb(255, 165, 165);
    }
    50% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0 0 10px rgb(255, 165, 165);
    }
}

/* Animasi untuk bayangan pada elemen dengan indeks ganjil */
@keyframes red-shadow-animation-odd {
    0% {
        box-shadow: 0 0 10px rgb(255, 165, 165);
    }
    50% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0 0 10px rgb(255, 165, 165);
    }
}

@media (max-width: 768px) {
    nav {
        padding: 10px !important;
        height: max-content;
    }

    .custom-loader {
        width: 25px;
        margin: 2px;
        height: 5px;
    }

    nav h1 {
        font-size: 90%;
    }

    .foto {
        width: 130px;
        height: 130px;
    }
    header p{
        font-size: 70%;
    }
    header h1{
        font-size: 90%;
        margin-top:20px;
    }
    .basic ul, .it ul{
        grid-template-columns: repeat(auto-fill, 200px);
    
        grid-gap: 10px;
        padding:0 10px 0 10px;
    }
    .daftarprojek{
        grid-template-columns: repeat(auto-fill, 250px);
    
        grid-gap: 20px;
        padding:0 10px 0 10px;
    }
    .basic ul li, .it ul li{
     
        list-style: none;
        display: flex;
        justify-content: center;
        padding:10px;
        font-size: 80%;
    }
    .kotak a{
        padding:5px 10px;
        font-size: 80%;
        border-radius: 3px;
    }
    #mpad{
        padding:20px !important;
    }
    .isikontak{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .klogo{
        width:30px;
        height: 30px;
    }
    .kontakkiri, .kontakkanan{
        width:100%
    }
    .kontakkanan form input[type=text],  .kontakkanan form input[type=submit] ,
    .kontakkanan form input[type=email], .kontakkanan form textarea {
        font-size: 60%;
    }
    footer p{
        font-size: 50%;
    }
  
}

nav {
    position: relative;
}


/* .custom-loader {
    width: 50px;
    margin: 3px;
    height: 10px;
    background:
        linear-gradient(90deg, #0000, #dd6363) left -50px top 0/50px 20px no-repeat #E4E4ED;
    animation: ct2 1s infinite linear;
} */

@keyframes ct2 {
    100% {
        background-position: right -50px top 0;
    }
}

header {
   
}

.haer{
    height:3px !important;
    width:80%;
     /* background:
        linear-gradient(90deg, rgba(255, 21, 21, 0.067) 33%, rgba(253, 172, 172, 0.333) 50%, rgba(255, 122, 122, 0.067) 66%) #dd6363;
    background-size: 300% 100%; 
    animation: ct1 1s infinite linear; */
}
@keyframes ct1 {
    0% {
        background-position: right
    }
}
.foto {
    width: 300px;
    height: 300px;
    background-image: url('pp.webp');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: hidden;
}

.basic ul, .it ul{
    
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 100px;
    justify-content: center !important;
}
.basic h2, .it h2, .projek h1, .kontak h2{
    padding-bottom: 20px;
    text-decoration: underline;
}
.kontak h2{
    color:rgb(75, 75, 75) !important;
}
.basic ul li{
    box-shadow: 0 0 10px rgb(255, 203, 203);
}
.it ul li{
    box-shadow: 0 0 10px rgb(148, 148, 148);
    color:rgb(66, 66, 66);
}

.basic ul li, .it ul li{

    list-style: none;
    
    display: flex;
    justify-content: center;
    padding:10px;
}
.haerdark{
    height:3px;
    width:50%;
    background-color: grey;
}
.daftarprojek{
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 100px;
    justify-content: center !important;
}
.kotak {
    outline: 3px solid white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background:
        linear-gradient(90deg, #0001 33%, #0005 50%, #0001 66%) #dd6363;
    background-size: 300% 100%; 
    animation: ct1 1s infinite linear;
}
.serti{
    outline: 3px solid rgb(175, 175, 175);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background:
        linear-gradient(90deg, #0001 33%, rgba(46, 46, 46, 0.333) 50%, #0001 66%) transparent;
    background-size: 300% 100%; 
    animation: ct1 1s infinite linear;
}
@keyframes ct1 {
    0% {
        background-position: right
    }
}
.kotak a {
    background-color: white;
    color: #b62626;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: bold;
}

.kotak a:hover {
    background-color: transparent;
    outline: 1px solid white;
    color: white;
}

.kotak img {
    width:100%;
}
.serti a {
    background-color: transparent;
    color: #a53535;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: bold;
}

.serti a:hover {
    background-color: transparent;
    outline: 1px solid rgb(175, 8, 8);
    background-color: rgb(240, 152, 152);
    color: white;
}

.serti img {
    width:100%;
}
/* */
.kontak {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #E4E4ED;
}



.kontak h1 {
    align-self: center;
    justify-self: center;
    font-size: 130%;
    padding: 10px;
}

.isikontak {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width:100%;
}

.kontakkiri {
    width: 40%;
    display: flex;
    flex-direction: column;

}

.kontak1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.klogo {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.email{
    background-image: url('https://cdn-icons-png.flaticon.com/128/542/542689.png');

}
.tel{
    background-image: url('https://cdn-icons-png.flaticon.com/128/25/25453.png');

}
.add{
    background-image: url('https://cdn-icons-png.flaticon.com/128/447/447031.png');

}

.sebelahlogo {
    padding-left: 10px;
}

.sebelahlogo h1 {
    font-weight: normal;
    font-size: 120%;
}

.sebelahlogo p {
    font-size: 90%;
}

.kontakkanan {
    display: flex;
    align-items: center;

    width: 40%;
}

.kontakkanan form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.kontakkanan form input[type=text] {
    padding: 5px;
    background-color: white;
    border-radius: 2px;
    margin: 10px 0;
    width: 95%;
    align-self: center;
}

.kontakkanan form input[type=email] {
    padding: 5px;
    background-color: white;
    border-radius: 2px;
    margin: 10px 0;
    width: 95%;
    align-self: center;
}

.kontakkanan form textarea {
    padding: 5px;
    background-color: white;
    border-radius: 2px;
    margin: 10px 0;
    width: 95%;
    align-self: center;
}

.kontakkanan form input[type=submit] {
    padding: 5px;
    background-color: #b62626;
    border-radius: 5px;
    margin: 10px 0;
    color: white;
}
@media (max-width: 768px) {
    nav {
        padding: 10px !important;
        height: max-content;
    }

    .custom-loader {
        width: 25px;
        margin: 2px;
        height: 5px;
    }

    nav h1 {
        font-size: 90%;
    }

    .foto {
        width: 130px;
        height: 130px;
    }
    header p{
        font-size: 70%;
    }
    header h1{
        font-size: 90%;
        margin-top:20px;
    }
    .basic ul, .it ul{
        grid-template-columns: repeat(auto-fill, 200px);
    
        grid-gap: 10px;
        padding:0 10px 0 10px;
    }
    .daftarprojek{
        grid-template-columns: repeat(auto-fill, 250px);
    
        grid-gap: 20px;
        padding:0 10px 0 10px;
    }
    .basic ul li, .it ul li{
     
        list-style: none;
        display: flex;
        justify-content: center;
        padding:10px;
        font-size: 80%;
    }
    .kotak a{
        padding:5px 10px;
        font-size: 80%;
        border-radius: 3px;
    }
    #mpad{
        padding:20px !important;
    }
    .isikontak{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .klogo{
        width:30px;
        height: 30px;
    }
    .kontakkiri, .kontakkanan{
        width:100%
    }
    .kontakkanan form input[type=text],  .kontakkanan form input[type=submit] ,
    .kontakkanan form input[type=email], .kontakkanan form textarea {
        font-size: 60%;
    }
    footer p{
        font-size: 50%;
    }
  
}

@media screen and (min-width: 768px) {
  
}
.coba{
    position: fixed;
    width: 100px;
    height: 100px;
    top:48%;
    right:5%;
    opacity: 0;
    transition: .5s;
    
}

.anak-coba{
    position: absolute;
    left:-80%;
    top:-120%;
    width:200px;
    height: 200px;
}

.welcome{
    position: absolute;
   
    top:-50%;
    height:50px;
    width:max-content;
    right: 180%;
    font-size: 200%;
    line-height: 50px;
    white-space: nowrap;
    animation: hilang 2s forwards;
    transition: .5s;
}

.textnya{
    text-shadow: 0 0 2px rgb(255, 255, 255);
}

@keyframes hilang{
    0%{
        display: none;
        transform: scale(1);
    }
    30%{
        display: none;
        transform: scale(1);
    }
    70%{
        transform: scale(1.3);
    }
    98%{
        display: block;
        transform: scale(1);
    }
    100%{
        display: none;
        transform: scale(1);
    }
}



.ah{
    display: none;
    background-image: url('cat4.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left:-80%;
    top:-120%;
    width:200px;
    height: 200px;
    animation: besar .7s forwards;
}

.clickmenu{
    position: absolute;
    top:-200%;
    left:-60%;
    font-size: 120%;
    animation: turun 1s infinite;
}
@keyframes besar{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{

        transform: scale(1);
    }
}
@keyframes turun{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{

        transform: translateY(0);
    }
}

.munculkebawah{
    display: hidden;
    
}
.anak-coba-satu{
    background-image: url('cat1.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.anak-coba-dua{
    background-image: url('cat2.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.anak-coba-tiga{
    background-image: url('cat3.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 768px) {
 
    .welcome{
        font-size: 150% ;
        height:50px;
        right: 140%;
        font-size: 160%;
        line-height: 50px;
        top:-60%;
    }
    .ah, .anak-coba{
        width:150px;
        height: 150px;
        left:-30%;
    }   

    .clickmenu{
        left:-15%;
    }

}
